.speakerChangeLabel {
  font-weight: bold;
}

.speakerChangeLabel::before {
  content: '';
  display: block;
}

.channelLabel {
  font-weight: bold;
}

.channelLabel::before {
  content: '';
  display: block;
}

.channelLabel::after {
  content: '';
  display: block;
}

.scrollBarStyle::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.scrollBarStyle::-webkit-scrollbar {
  width: 8px;
  border-left: 10px;
}

.scrollBarStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #999;
}

.blurOverlay {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: #fff5;
}

.display-custom-dict .word-custom-dict {
  text-decoration: underline;
}

.showing-disfluencies .word-disfluency {
  display: none;
}

.display-confidence .word-confidence-02 {
  color: #d82b2b;
}

.display-confidence .word-confidence-24 {
  color: #ac2d31;
}

.display-confidence .word-confidence-46 {
  color: #7f2f37;
}

.display-confidence .word-confidence-68 {
  color: #53303d;
}

.display-confidence .word-confidence-1 {
  color: #263243;
}

.filter-profanities .profanity-inner {
  filter: blur(5px);
}

.showing-entities-written .entity-spoken {
  display: none;
}

.showing-entities-spoken .entity-written {
  display: none;
}
